*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/*VARIAVEIS PRE DEFINIDAS*/

:root{
    --bg-color:#fff;
    --text-color:   #151E3D;
    --main-color: #008665;
    --second-color:#F6F2F0;
    --thirth-color:#D2ECE9;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: .9rem
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);

}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 20%;
    padding-right: 20%;
    transition: ease .40s;
    /*box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);*/
}
header.sticky{
    background-color: var(--bg-color);
    padding-top: 15px;
    padding-bottom:15px;
    box-shadow: 0px 10px 10px -10px rgba(33,35,38,0.3);
}
@media (max-width: 1450px){

    header{
        
        padding-top: 17px;
        padding-bottom:17px;
        padding-left: 10%;
        padding-right: 10%;
        transition: ease .40s;
        /*box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);*/
    }
   
}
@media (max-width: 1070px){
    header{
        padding-left: 3%;
        padding-right: 3%;
    }
}
h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.2rem;
}
h5{
    font-size: 1.1rem;
    padding-top: .5rem;
    padding-bottom: .7rem;
}
h6{
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .7rem;
}
section{
    padding: 80px 0;
}
section .section{
    padding: 0 20%;
    width: 100%;
}

/*-----------------------------------------------*/


@media (max-width: 1450px){
    section .section{
        padding: 0 10%;
        width: 100%;
    }
    
}
@media (max-width: 1070px){
    section .section{
        padding: 0 3%;
        width: 100%;
    }
}
/*------------------------------------------------*/
p{
    font-size: var(--p-font);
    margin-bottom: .5rem;
}

input.form-control{
    border: none;
    font-size: 16px;
    margin-top: .5rem;
    padding: 1rem;
}

/*grups row*/
.mdn-row{
    display: flex;
    flex-wrap: wrap;
    
}
/*end grups row*/

/*grid*/
.mdn-12{
    width: 100%;
}

.mdn-11 {
width: 91.66666667%;
}
.mdn-10 {
width: 83.33333333%;
}
.mdn-9 {
width: 75%;
}
.mdn-8 {
width: 66.66666667%;
}
.mdn-7 {
width: 58.33333333%;
}
.mdn-6 {
width: 50%;
}
.mdn-5 {
width: 41.66666667%;
}
.mdn-4 {
width: 33.33333333%;
}
.mdn-3 {
width: 25%;
}
.mdn-2 {
width: 16.66666667%;
}
.mdn-1 {
width: 8.33333333%;
}
.mdn-1, .mdn-2, .mdn-3, .mdn-4,
.mdn-5, .mdn-6, .mdn-7, .mdn-8,
.mdn-9, .mdn-10, .mdn-11, .mdn-12{
padding: .5rem;
}

/*end grid*/
/*form control*/
.mdn-form-control{
    display: flex;
    flex-direction: column;
}
.form-control{
    font-size: 16px;
    width: 100%;
}
/*end form control*/


.mdn-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.mdn-btn{
    padding: .5rem 1rem;
    
    border-radius: 15px;
    position: relative;
    font-size: 16px;
    
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
.mdn-btn-solid{
    background-color: var(--main-color);
    color: var(--bg-color);
}
.mdn-btn-line{
    background-color: var(--bg-color);
    color: var(--text-color);
    border:1px solid var(--main-color)
}

.mdn-btn span{
display: inline;
font-size: 1.2rem;
transform: translateY(1px);
margin-right: .4rem;
}




.mdn-logo{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--bg-color);
}

.sticky .mdn-logo{
color: var(--text-color);
}

.sticky #mdn-menu-icon{
    color: var(--text-color);
}
#mdn-menu-icon{
    color: var(--main-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.mdn-navbar{
    display: flex;
}
.mdn-navbar a{
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 30px 22px;
    transition: ease .40s;
}
.sticky .mdn-navbar a{
    color: var(--text-color);
}
.mdn-navbar a:hover{
    color: var(--main-color);
}

/*-------------------------------*/
@media (max-width:950px){
    .mdn-navbar{
        position:absolute;
        top: 0;
        right: -300px;
        bottom: 0;
        height: 100vh;
        flex-direction: column;
        background-color: var(--thirth-color);
        width: 270px;
        align-items: center;
        padding-top: 5rem;
        box-shadow: -3px 0px 18px rgb(0, 0, 0,  20%);
        
    }
    
    .mdn-navbar a{
        display: block;
        padding: 1rem;
        color:  var(--text-color) !important;
    }
    .mdn-navbar a:hover{
        color:  var(--main-color) !important;
    }
    #mdn-menu-icon{
    display: block;
    color: var(--bg-color);
    }
    .bx-x{
        color: var(--text-color) !important;
    }
    .mdn-navbar.is-active{
        right: 0;
    }
}
/*-------------------------------*/


/*section home*/
.mdn-home{
    height: 500px;
    position: relative;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/default/bg-4.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -80px;
    color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}
.home-text p{
    font-size: 1.1rem;
    line-height: 28px;
}

/**/
.mdn-check{
    padding: 0;
    padding: 0 20%;

}
/*---------------------------------------------------*/
@media (max-width: 1450px){
    .mdn-check{
        padding: 0;
        padding: 0 10%;
    
    }
}

@media (max-width: 1070px){
    .mdn-check{
        padding: 0;
        padding: 0 3%;
    
    }
}
@media (max-width: 950px){
    .mdn-searsh-size .mdn-6{
        width: 100%;
    }
    .mdn-searsh-size .mdn-3{
        width: 50%;
    }
}

@media (max-width: 720px){
    .mdn-searsh-size .mdn-3{
        width: 100%;
    }
}
/*---------------------------------------------------*/
.mdn-ckeck-search{
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 4px 14px 28px rgb(0, 0, 0,  10%);
    position: relative;
    margin-top: -200px;
    
}
.mdn-ckeck-search .mdn-row{
    justify-content: space-between;
}

.mdn-btn-searsh .mdn-btn{
    margin-right: 0 !important;
}
.mdn-btn-searsh a{
    display: flex;
    
}
.mdn-btn-searsh a span{
    display: flex;
    font-size: 1.1rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    line-height: 20px;
    transition: all .5s ease;

}
.mdn-btn-searsh a span h6{
    font-size: 1.1rem;
    font-weight: 500 !important;
    opacity: 0;
    transform: translateY(-7px);
    transition: all .5s ease;
}
.mdn-btn-searsh a span i{
    font-size: 1.3rem;
    

}
.mdn-btn-searsh a span:hover h6{
    opacity: 1;
    transition: all .5s ease;
}
.mdn-btn-searsh a span:hover{
    width: 150px;
    border-radius: 15px;
}

.mdn-ckeck-search .mdn-btn{
margin-right: .5rem;/*D2ECE9*/
}
.mdn-text-box{
    background-color: var(--thirth-color);
    padding: 1rem 1rem;
    border-radius: 15px;  
}
.mdn-text-box label{
    font-size: 14px;
    color: #888;
}

.mdn-search{
    border: none !important;
    height: 35px;
    font-size: 18px;
    background: transparent;
}

/*section destination*/

.mdn-header-section{
    display: flex;
    justify-content: space-between;
}

.mdn-header-section a{
    line-height: 3rem;
    font-weight: 600;
    color: var(--main-color);
}


.mdn-text-destination{
transform: translateY(6rem);
}

figure.mdn-figure-destination{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    border-radius: 15px;
    padding: .5rem;
    overflow: hidden;
    position: relative;
    transition: all .5s ease;
    
}
figure.mdn-figure-destination:hover{
    box-shadow: 4px 14px 28px rgba(0, 0, 0, 0.3);
}
.destination-local{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    color: var(--bg-color);
    background:linear-gradient(45deg, rgba(14, 17, 34, 0.6), rgba(14, 17, 34, 0.6));
 
    transition: all .5s ease;
    transform: scale(1.4, 1.4);
    opacity: 0;
}
.destination-local h3{
    transform:translateY(11rem)
}
.destination-local a{
    display: block;
    background-color: var(--bg-color);
    color: var(--main-color);
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    transform:translateY(12rem);
    
    
}
.destination-local:hover{
    opacity: 1;
    transform: scale(1, 1);
}

@media (max-width: 950px){
    .mdn-destination-size .mdn-4{
        width: 50%;
    }
}
@media (max-width: 640px){
    .mdn-destination-size .mdn-4{
        width: 100%;
    }
    .mdn-text-destination{
        transform: translateY(0rem);
        }
}
/*actividades esperando por si*/
.activity{
    background-color: var(--second-color);
}
figure.mdn-activity-figure{
    border-radius: 15px;
    width: 100%;
    height: 220px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mdn-activity-text a{
    color: var(--main-color);
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
}
.mdn-activity-text a::before{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: var(--main-color);
    bottom: 0;
    transition: all .5s ease;
}
.mdn-activity-text a:hover::before{
    width: 50%;
}

@media (max-width: 810px){
    .mdn-activity-size .mdn-4{
        width: 50%;
    }
}
@media (max-width: 480px){
    .mdn-activity-size .mdn-4{
        width: 100%;
    }
}
/*hospedagem mensagem*/

.mdn-mensege-hospedagem{
    background-image: linear-gradient(45deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("../img/default/bg-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--bg-color);
}

.mdn-mensege-hospedagem h3{
transform: translateY(6rem);
position: relative;
}
.mdn-mensege-hospedagem h3::after{
    content: '';
    width: 20%;
    height: 1px;
    position: absolute;
    bottom: -1rem;
    left: 0;
    background-color: #fff;
}
.mdn-mesage-icon{
    display: block;
    font-size: 2rem;
    width: 70px;
    height: 70px;
    background-color: var(--thirth-color);
    color: var(--text-color);
    text-align: center;
    line-height: 75px;
    border-radius: 100px;
    transform: translateY(2rem);
    margin-right: auto;
    margin-left:auto ;
}

.mdn-mesage-text{
    text-align: center;
    background-color: var(--thirth-color);
    color: #151E3D;
    padding:1.7rem .5rem 1rem;
    border-radius: 15px;
}
@media (max-width: 910px){
    .mdn-info-size .mdn-3{
        width: 50%;
    }
}
@media (max-width: 480px){
    .mdn-info-size .mdn-3{
        width: 100%;
    }

    .mdn-mensege-hospedagem h3{
        transform: translateY(0rem);
        position: relative;
        }
}


/*alogamento*/
.mdn-alogamento-info-figure{
    width: 100%;
    height: 250px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.mdn-alogamento-infor-figure h6{
    font-weight: 400;
    padding-bottom: 0rem;
}
.mdn-alogamento-infor-figure span{
    font-size: .9rem;
    opacity: .7;
    padding-bottom: .5rem;
    display: block;
}
.mdn-alogamento-infor-figure p{
    font-weight: 800;
    margin-bottom: 0rem;
}
@media (max-width: 920px){
    .mdn-alogamento-info-figure{
        height: 200px;
    }
}
@media (max-width: 768px){
    .mdn-alogamento-info-figure{
        height: 300px;
    }
    .mdn-alogamento-size .mdn-3{
        width: 50%;
    }
}
@media (max-width: 480px){
    
}

@media (max-width: 560px){
    .mdn-alogamento-info-figure{
        height: 200px;
    }
}
/*atualizações*/  
.atualizacoes{

} 

.mdn-update-news-list-secund{
    margin-bottom: .5rem;
    display: flex;
}
.mdn-update-news-list-secund figure{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-right: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mdn-update-new-first figure{
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.newslatter{
    background-color: var(--thirth-color);
}
.mdn-newslatter-input{
    padding-top: 3rem;
    display: flex;
}
.mdn-newslatter-input input{
    width: 700px;
    height: 50px;
    padding-left: 1rem;
    font-size: 1rem;
    border: none;
    border-top-left-radius:15px ;
    border-bottom-left-radius:15px ;
    box-shadow: 4px 14px 28px rgb(0, 0, 0,  10%);

}
.mdn-newslatter-input button{
    border: none;
    border-radius: none !important;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: .5rem;
    font-size: 1rem;
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 5px 10px 30px rgb(85, 85, 85,  20%);
    cursor: pointer;
}

@media (max-width: 768px){
    .mdn-newslater-size .mdn-6{
        width: 100%;
    }
}
@media (max-width: 480px){
    
}

.newslatter p{
    margin-top: 2rem;
}

@media (max-width: 740px){
    .mdn-newslater-2-size .mdn-6{
        width: 100%;
    }
}
/*footer*/
.footer{
    background-color: var(--text-color);
}

.main{
    display: flex;
    flex-wrap: wrap;
}
.list{
    width: 25%;
}

.list h4{
    font-size: 1.2rem;
    color: var(--bg-color);
    margin-bottom: 2.5rem;
}

.list ul li:not(:last-child) {
    margin-bottom: 16px;
}
.list ul li a{
    font-size: var(--p-font);
    color: var(--thirth-color);
    display: block;
    transition: all .5s ease;
}

.list ul li a:hover{
    opacity: .5;
}

.social a{
    height: 40px;
    width: 40px;
    background-color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    color: var(--text-color);
    transition: all .5s ease;
    margin-right: .5rem;
}
.social a:hover{
    transform: scale(1.06);
}

.end-text{
   text-align: center;
   color: var(--bg-color); 
   padding-top: 90px;
}

.end-text a{
    color: var(--bg-color);
    text-decoration: d;
}

@media (max-width:870px) {
    .list{
        width: 50%;
    }
}
@media (max-width:500px){
    .list{
        width: 100%;
    }
}
/*media query*/
